In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
df_Lilas = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\\Residence des Lilas.csv", sep=";")# Residence des Lilas

In [17]:
df_Lilas.head()

,note,resume,commentaires
0,8.0,Agréable et reposant,Absence de groupe électrogène pour faire face...
1,8.0,Idéal pour retour se ressourcer après une miss...,Endroit très calme et parfait pour travailler...
2,9.0,Fabuleux,RAS.| Leux propre et convivial. Avec tout ce ...
3,7.0,Bien,a part l'emplacement tout était parfait| L' a...
4,9.6,Belle résidence à Yaoundé,La résidence ne dispose pas d'enseigne ou écr...

In [18]:
df_Lilas["note"].head()

0    8.0
1    8.0
2    9.0
3    7.0
4    9.6
Name: note, dtype: float64

In [15]:
df_DjeugAppart = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\\Djeug_Appart hotel.csv", sep=";")# Djeug_Appart hotel

In [16]:
df_DjeugAppart.head()

,note,resume,commentaires
0,9.0,Excellent rapport qualité/prix. Hôtes bienveil...,Les plaques ne fonctionnaient pas correctemen...
1,7.0,Logistique,"L emplacement, coupure d eau et d internet | ..."
2,9.0,Excellent hotel et très très bon rapport qua...,Je n'ai pas trouvé les lits très confortable ...
3,8.0,Très bien,Problème électrique temporaire Peu de passage...
4,8.0,Très bien,Parking toujours plein. Des voitures garées e...

In [19]:
df_DjeugAppart["note"].head()

0    9.0
1    7.0
2    9.0
3    8.0
4    8.0
Name: note, dtype: float64

In [21]:
df_MassouBG = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\\Residence Massou Bastos Golf.csv", sep=";")# Residence Massou Bastos Golf

In [22]:
df_MassouBG.head()

,note,resume,commentaires
0,8.0,Un séjour très agréable,Le stationnement un peu compliqué à cause des...
1,10.0,Mon séjour de rêve,Pas d'accessibilité au wifi c'était gênant| L...
2,9.2,Fabuleux,L’enregistrement|
3,7.5,Résidence de luxe rapport qualité prix parfaite!!,les voisins peuvent être bruyants il faut don...
4,7.5,"Le cadre, la forêt ,la vue et la tranquillité...","Le cadre, la forêt ,la vue et la tranquillit..."

In [23]:
df_villaContemp = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\\Villa contemporaine.csv", sep=";")#Villa contemporaine

In [24]:
df_villaContemp.head()

   note          resume                                       commentaires
0  10.0   Exceptionnel                        Très bel appart , à refaire|
1   8.0         PARFAIT   l'installation d'une climatisation ne serait ...
2   8.8       Satisfait   Manque de serviettes de bain Manque de savon ...
3   9.6      Fabuleux     Connection Wi-Fi un peu lente| Villa au calme...
4  10.0   Exceptionnel    Établissement situé dans un environnement cal...

In [25]:
df_hotelcouRW = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\\Hotel la couronne RW.csv", sep=";")#Hotel la couronne RW

In [26]:
df_hotelcouRW.head()

,note,resume,commentaires
0,7.0,Séjour reposant et bien dans l'ensemble.,Le type de toilette (WC trop d'eau et ça fait...
1,9.0,Magnificent,"La qualité des chambres et du service, le per..."
2,9.0,"Un excellent séjour, confortable et un accueil...","Excellent accueil, personnel très disponible...."
3,9.0,TOP,L'application totale du 24h/7 a la réception ...
4,9.0,Séjour parfait dans un établissement très agré...,Le petit déjeuner pourrait être amélioré pour...

In [27]:
df_hotelJouvInter = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\hotel jouvence inter.csv", sep=";")#hotel jouvence inter

In [28]:
df_hotelJouvInter.head()

,note,resume,commentaires
0,8.0,Très bien,- Le restaurant doit améliorer la qualité des...
1,7.1,Bien,Le petit déjeuner est de type service à la ca...
2,7.0,Bien,Emplacement | Confort |
3,7.0,Bien,Chambre bruyante le matin. Pas de cuisine apr...
4,9.0,Dans l ensemble c était magnifique je recomman...,Le manque d une bonne pression d eau| Personn...

In [30]:
df_Charlestine = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\charlestine.csv", sep=";")#villa charlestine

In [31]:
df_Charlestine.head()

,note,resume,commentaires
0,8.0,Agréable et reposant,"Pas de WiFi et pas d'images TV| Le jardin, la..."
1,10.0,Exceptionnel,Tous etais bien| Magnifique|
2,8.8,Un voyage simplement excellent !,La localisation de la Villa est assez diffici...
3,10.0,Exceptionnel,NaN
4,7.0,Bien,NaN

In [32]:
df_Safyad = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\Safyad.csv", sep=";")#Hotel Safyad

In [33]:
df_Safyad.head()

   note       resume                                       commentaires
0   8.0   Très bien    Il y a du bruit tard le soir et très tôt le m...
1   9.0   Fabuleux     L'hotel est propre , personnel accueillant , ...
2   7.0         Bien   Les bruits venant du carrefour avoisinant. Am...
3   7.0       Bien            Pas pour le moment.| Pas pour le moment.|
4   7.5       Bien     C'est hôtel est confortable. Mais l'hôtel org...

In [34]:
df_jardTrop = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\jardin tropical.csv", sep=";")#jardin tropical

In [35]:
df_jardTrop.head()

,note,resume,commentaires
0,7.0,j'aimerais bien y revenir mais il est très com...,l'accès au site très pénible à cause du mauva...
1,9.0,Fabuleux,L'accès à la résidence n'est pas évidente en ...
2,7.0,Bien,L'accès est impraticable surtout en saison de...
3,8.3,Très bien,La route n'est pas accessible | Le calme et l...
4,7.9,Belle résidence,La TV ne fonctionne pas normalement. Le trans...

In [36]:
df_Toundalia = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\Toundalia.csv", sep=";")#Toundalia

In [37]:
df_Toundalia.head()

,note,resume,commentaires
0,7.0,"Paisible, propre et accueillant",Le calme pour travailler et/ou se reposer y e...
1,6.0,"Paisibe et accueillant, si ce n´est le bruit d...",Bruit des chiens de l´hôtel qui restent trop ...
2,8.0,Bien,"La principale était verroullée dans la nuit, ..."
3,8.0,On s'y sent presque comme chez soi,J'ai aimé la propreté et la liberté du local....
4,7.9,Bon séjour en général,La difficulté à retrouver le lieu pour la pre...

In [38]:
df_joliJardin = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\joli_jardin_en_ville.csv", sep=";")#joli_jardin_en_ville

In [39]:
df_joliJardin .head()

,note,resume,commentaires
0,7.5,Très agréable,La disponibilité du personnel|
1,9.6,Apparemment idéal pour un séjour tranquille,Les photos de famille à l'intérieur de l'appa...
2,7.1,Bien,Localisation très centrale et pres de tout ma...
3,10.0,Parfait.,Mon séjour était selon mes attentes. Le perso...
4,10.0,Exceptionnel,L emplacement l Accueil. Le confort etc| ...

In [40]:
df_Hilton = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\Hilton.csv", sep=";")#Hilton

In [41]:
df_Hilton.head()

   note            resume                                       commentaires
0   7.0            Bien     Le fait que la navette de l’hôtel ne soit pas...
1   9.0        Fabuleux                            Tout était correct| Tout|
2   7.0  Hôtel Acceptable   L'hôtel a vieillit, il faut absolument le rén...
3   8.0        Très bien    La moquette : pourquoi Hilton ne s’adapte pas...
4   9.0              Bien   Balcon sale meuble vieillot| La chambre est v...

In [42]:
df_ManoirPrinc = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\Manoir_des_princesses.csv", sep=";")#Manoir_des_princesses

In [43]:
df_ManoirPrinc.head()

,note,resume,commentaires
0,8.0,Très bien,A côté il y a une église réveillé qui dérange...
1,8.0,Séjour très agréable,Ras| La propreté|
2,8.0,Etablissement bien situé. Bon rapport qualité/...,Le manque de climatiseur. La gérante affirme ...
3,7.1,Bien,"La connexion Wi-Fi etait inexistante, 2000fcf..."
4,9.2,Agréable,"L'accès à la restauration| Le calme,la sécuri..."

In [44]:
df_luxxor = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\hotel luxxor.csv", sep=";")#hotel luxxor

In [45]:
df_luxxor.head()

,note,resume,commentaires
0,8.0,Excellent séjour! J'y reviendrai volontiers dè...,Le Wifi qui ne marche pas bien au 6ème étage....
1,8.0,Le séjour était agréable,Le confort|
2,6.0,Des efforts s'impose,Le repas| La cuisine est nulle|
3,7.0,Bien,Agréable.. Revoyez juste les salles d'eaux......
4,8.0,Appréciation,"Personnels très aimables, Propreté assurée....."

In [46]:
df_Bouns = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\Bouns hotel.csv", sep=";")#Bouns hotel

In [47]:
df_Bouns.head()

,note,resume,commentaires
0,7.5,Bien,Le personnel dédié aux prestations Spa est in...
1,8.0,Excellent séjour,Le personnel pas très professionnel Le parki...
2,7.0,Bien,-Revoir le système electrique: problèmes d'ac...
3,6.0,Bon Hotel à retester,Le fait que certaines zones communes ne soien...
4,8.0,Très bien,Endroit calme avec piscine agréable. Le perso...

In [49]:
df_ApaprtMeub = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\meuble_ap.csv", sep=";")#appart_meubles

In [50]:
df_ApaprtMeub.head()

,note,resume,commentaires
0,7.5,"Pas pour homme d'affaires pressé ,mais idéal p...",Assez loin du centre (moto +taxi nécessaires)...
1,8.8,Execelente,Distance| Tout|
2,6.3,Agréable,"Manque de groupe électrogène, pauvre offre de..."
3,7.1,Bien,NaN
4,7.1,Bien,NaN

In [51]:
df_mansel = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\mansel.csv", sep=";")#Mansel hotel

In [52]:
df_mansel.head()

,note,resume,commentaires
0,7.9,Agréable dans l'ensemble,J'ai pas eu accès aux chaînes Canal sport qui...
1,5.8,Passable,Le manque d’ascenseur | La propreté |
2,6.3,Agréable,Le personnel est inexpérimenté. | Le lit|
3,6.7,Hotel moyen en équipement mais avec très bonne...,Refaire les travaux au niveau des douches| la...
4,7.1,Bien,Le personnel d'accueil n'était pas du tout co...

In [53]:
df_djeugaPal = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\djeuga_palace.csv", sep=";")#djeuga_palace

In [54]:
df_djeugaPal.head()

   note      resume                                       commentaires
0   7.0  Bon séjour   Les installations (climatisation) et le délai...
1   6.0   Agréable    Les chambres sont veillottes beaucoup de mois...
2   6.0   Agréable    *Le bruit du nightclub à côté *Le temps de re...
3   7.0    Passable   J'ai bu du movais whyski dans votre boîte| Le...
4   5.0   Passable    la vétusté des chambres et douche.| la nourri...

In [55]:
df_massaoPal = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\massao_palace.csv", sep=";")#massao_palace

In [56]:
df_massaoPal.head()

   note          resume                                       commentaires
0   6.0       Agréable    Qu'on essaie à chaque fois de me faire payer ...
1   8.0      Très bien    Les images de la télé et les chaînes associée...
2   7.0    C etait cool   Le lit| J ai aimé le standing mais le lit eta...
3  10.0   Exceptionnel                                     Excellent état|
4   1.0      Médiocre     Problème de communication, gestion inexistant...

In [57]:
df_montFebe = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\mont febe.csv", sep=";")#mont febe

In [58]:
df_montFebe.head()

,note,resume,commentaires
0,5.0,Passable,La vétusté de la chambre. L'absence de petit ...
1,7.0,Excellent! Je recommande et j'y reviendrai!,"Le coin bar est peu emmenage, Des canapes et ..."
2,6.0,Agréable,L'hôtel doit être renouvelé|
3,6.7,Malgré que l'hôtel a pris de l'âge il est bien...,surtout pour le petit déjeuné rien avoir av...
4,5.4,dommage,chasse d'eau en panne une seule prise a la sa...

In [60]:
df_providence = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\providence.csv", sep=";")#residence_providence

In [61]:
df_providence.head()

   note          resume                                       commentaires
0   8.0      Très bien    Personnel très accueillant, avec beaucoup de ...
1   2.0      Médiocre     Publicité mensongère.| Le calme et la sécurit...
2   2.0      Médiocre     Il ya seulement une toilette et non deux comm...
3  10.0   Exceptionnel                                                 NaN
4   9.0      Fabuleux                                                  NaN

In [63]:
df_seas = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\seas.csv", sep=";")#7 seas wakanda

In [64]:
df_seas.head()

   note       resume                                    commentaires
0   6.0    Agréable                          La discrétion du lieu |
1   8.0   Très bien    Cool. Coin accessible et sécurisé.| Le décor|
2   6.0    Agréable                                              NaN
3   5.0    Passable                                              NaN

In [69]:
df_bastosap = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\part_b.csv", sep=";")#Bastos Appart's

In [70]:
df_bastosap.head()

,note,resume,commentaires
0,8.0,Très bien,Le comportement de Celui qui nous a accueilli...
1,6.0,Agréable,"L’entretien, la salubrité, le ménage sont à a..."
2,7.0,Spacieux à visiter,"Parking petit| Assez agréable, sécuritaire |"
3,8.8,Je recommande Bastos'appart à mon entourage. D...,Déjà réglé avec la direction.| Le sentiment d...
4,5.8,Peut mieux faire,"la qualité approximative du ménage, l'absence..."

In [73]:
df_noah = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\W_noah.csv", sep=";")#With Noah

In [74]:
df_noah.head()

   note        resume   commentaires
0   7.0        Bien              NaN
1   8.0    Très bien             NaN
2   9.0  Juste genial            NaN

In [75]:
df_Stsulpi = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\Saint_sulpice.csv", sep=";")#Saint_sulpice

In [76]:
df_Stsulpi.head()

,note,resume,commentaires
0,6.0,je suis satisfaite de mon sejour au point ou j...,rien| la maison est tres propre et calme|
1,10.0,Magnifique,J’ai tout aimé| Le personnel agréable|
2,5.0,Passable,Presque tout..mais surtout les voisins de l’a...
3,5.0,Passable,"Il n'existe pas sur ce site, une précision de..."
4,8.0,Très bien,NaN

In [77]:
df_LeFibi = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\Le_fibi.csv", sep=";")#Le_fibi

In [78]:
df_LeFibi.head()

,note,resume,commentaires
0,4.0,"Séjour pas très confortable, trop de bruits la...","Pas de connexion wifi, chambres non insonoris..."
1,3.8,j'ai apprecié l'acueil du personnel mais de gr...,"les equipements usés, les draps ont viré du b..."
2,5.0,Passable,NaN
3,3.0,Assez médiocre,NaN
4,5.0,Passable,NaN

In [81]:
df_Hresi = pd.read_csv("C:\\Users\\lemec\\Desktop\\Hotels_scrapping\Hresi.csv", sep=";")#residence_H

In [82]:
df_Hresi.head()

,note,resume,commentaires
0,8.0,Très bien,Les coupures d'électricité | Le personnel es...
1,8.0,Confortable et gentillesse du personnelle,Pas de wifi. | Emplacement et le calme et la ...
2,9.0,Magnifique....,"RAS| L'accueil, l'hygiène et le cadre de loge..."
3,8.0,"c'était"" perfect.""","les chaines du cable n étais pas accessibles,..."
4,7.0,Bien,"pourrais mieux faire, problème d'évacuation d..."

# Great Job

### Continue ....